body {
    margin: 0;
    padding: 0;
}

div {
    margin:0;
    padding:auto;
}
@font-face {
    font-family: 'webfont';
    font-style: normal;
    src: url(Fonts/kaushanscript-regular-webfont.ttf);
}
#bugfixer{
    font-family:"webfont";
    visibility:hidden;
}